html {
  font-size: 12px;
}

body {
  color: #444;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 300;
  margin: 6rem auto 1rem;
  max-width: 80rem;
  text-align: left;
}

table.display td { white-space: nowrap; }

h2 { /* Header 2 */
  font-size: 24px;
  color: DarkBlue;
}

img {
  width: 400px;
  display: block;
  margin: 0 auto;
}
